[submodule "aem-commons"]
	path = aem-commons
	url = git@github.com:MahediSabuj/aem-commons.git
	branch = main
[submodule "aem-site"]
	path = aem-site
	url = git@github.com:MahediSabuj/aem-site.git
	branch = main
[submodule "aem-spa"]
	path = aem-spa
	url = git@github.com:MahediSabuj/aem-spa.git
	branch = main
